

.app-container {
  display: flex;
  flex-direction: column;
  height: 98vh;
}

.header {
  background-color: #056e70;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pozpro {
  font-size: 24px;
  position: absolute;
  left: 40%;
}

.sidenav-button {
  color: #fff;
}

.footer {
  background-color: #055c5e;
  color: #fff;
  text-align: center;
  display: flex;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 2px;
  justify-content: left;
  padding: 10px;
}

.copyright {
  margin: 0;
}



.brd-form {
  width: 100%;
  margin-top: 70px;
}

.content {
  display: flex;
  flex: 1;
  background-image: url("/assets/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




.sidenav {
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidenav h3 {
  margin-bottom: 50px;
  margin-left: 70px;
  color: #333;
}

.sidenav button {
  width: 100%;
}

.full-width {
  width: 100%;
}



@media (min-width: 1025px) {
  .left-panel {
    flex: 40%;
  }

  .right-panel {
    flex: 60%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .left-panel {
    flex: 40%;
  }

  .right-panel {
    flex: 60%;
  }
}
mat-card {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fdfdfd;
}

mat-card-header {
  padding-bottom: 10px;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f51b5;
}


mat-progress-bar {
  margin-top: 15px;
  height: 8px;
  border-radius: 4px;
}

mat-progress-bar .mat-progress-bar-fill::after {
  background-color: #3f51b5 !important;
}


.avatar-container {
  position: relative;
  top: 4px;
  left:-20px;
  transition: right 0.3s ease;
  color: #ffffff;

}
.logo {
  position: relative;
  display: flex;
}

.LOG{
  background-color: #047377;
  font-size: larger;
  font-weight: 100;
}


/* Intro Page */
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro-page {
  text-align: center;
}

.chat-logo {
  width: 150px;
  margin-bottom: 20px;
}

.start-chat-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-chat-btn:hover {
  background-color: #0056b3;
}
/* For Full-Screen Chat Interface */
.chat-interface {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 15px;
  border-radius: 15px;
}

.chat-header {
  background-color: #4d7477;
  color: white;
  padding: 4px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 15px 15px 0 0;

}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #ffffff;
  /* margin-bottom: 20px; */
  border: 1px solid grey;
  max-height: 590px;
  border-radius:0 0 15px 15px;

}

.message-container {
  margin: 5px 0 5px;
  max-width: 100%;

}


.message-left,
.message-right {
  flex: 1 1 auto;
  padding: 5px;
  border-radius: 8px;
  word-wrap: break-word;
}

.message-left {
  text-align: left;
  background-color: #e3f2fd;
  margin-right: 10px;
  margin-bottom: 10px;
}

.message-right {
  text-align: right;
  background-color: #c8e6c9;
  margin-left: 10px;
}

.message p {
  margin: 0;
  font-size: 1rem;
}
.download-link {
  margin-top: 5px;
  color: #010d1a;
  text-decoration: underline;
}

.chat-input-container {
  display: flex;
  background-color: #f9f9f9;
  border-radius: 10px;
  /* border-top: 1px solid #ccc; */
}

.chat-input {
  flex-grow: 1;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.send-btn {
  background-color: #007bff;
  border: none;
  padding: 15px;
  margin-left: 10px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.send-btn mat-icon {
  font-size: 25px;
}

/* Full-Screen Media Queries */
@media screen and (min-width: 600px) {
  .chat-interface {
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
  }

  .chat-messages {
    padding: 30px;
    margin-bottom: 30px;
  }

  .chat-input-container {
    padding: 20px;
    font-size: 1.1rem;
  }

  .message-container .message {
    padding: 20px;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1200px) {
  .chat-interface {
    height: 100vh;
    max-width: 80%;
    margin: 0 auto;
  }

  .chat-messages {
    padding: 40px;
    margin-bottom: 40px;
  }

  .chat-input-container {
    padding: 30px;
    font-size: 1.2rem;
  }

  .message-container .message {
    padding: 25px;
    font-size: 1.2rem;
  }
}
.document-scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.card-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 80%;
  padding: 10px 0;
}

.card {
  min-width: 200px;
  margin-right: 5px;
  background-color: #87d48a;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scroll-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #1f6ac7;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.left-btn {
  left: 0;
}

.right-btn {
  right: 0;
}

.scroll-btn:hover {
  color: #0056b3;
}
